In [ ]:
select count(city) - count(distinct city) from station;

# Problem 1
Query the Name of any student in STUDENTS who scored higher than Marks. Order your output by the last three characters of each name.

In [ ]:
#Did not work
select name from students where marks > 75 order by substring(name, length(name)-3, length(name)) ASC;
#normally, I'd troubleshoot the error a little more but seeing as I don't have the table in my normal workspace, 
# (I only have it on HackerRank)
#I am going to move on to attempt two

In [ ]:
#Attempt two:
select name from students where marks > 75 order by right(name, 3) ASC;

In [ ]:
#Great! Got the marks and name ordering down, now just to the next part!
# If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID

.

In [ ]:
select name from students where marks > 75 order by right(name, 3) ASC, id ASC;