In [4]:
import pandas as pd

In [6]:
def is_leap(year):
    leap = False
    
    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year % 4 == 0:
        leap = True
    else:
        leap = False
    
    return leap

In [7]:
is_leap(1900)

False

In [8]:
is_leap(2000)

True

for integers i<n, print i^2.

sample:
    5
    
output:
    0
    1
    4
    9
    16

In [15]:
n=5

In [16]:
while n >= 0:
    print(n**2)
    n -= 1

25
16
9
4
1
0

In [ ]:
# i need to reverse order and exclude outer number

In [19]:
n = 5

In [20]:
i = 0

In [21]:
while i < n:
    print(i**2)
    i += 1

0
1
4
9
16

input: 5

output:12345

In [22]:
n=5

In [23]:
for i in range(1, n):
    print(i)

1
2
3
4

In [24]:
for i in range(1, n+1):
    print(i, end='')

12345

Working with strings

In [76]:
def split_and_join(line):
    # write your code here
    a = line.split(' ')
    b = '-'.join(a)
    return b

In [77]:
split_and_join('i like pie')

'i-like-pie'

In [ ]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

In [ ]:
cube x, y, z, give all possible coord for cube where the sum of all coord != n
(1,1,1) 1+1+1 = 3 , n = 3

In [1]:
from itertools import permutations

In [2]:
permutations(x, y, z, 3)

TypeError: permutations() missing required argument 'iterable' (pos 1)

In [27]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())

5
2 3 5 6 6

In [28]:
m = list(arr)

In [29]:
m

[2, 3, 5, 6, 6]

In [30]:
max(m)

6

In [33]:
l = []
for x in m:
    if x < max(m):
        l.append(x)

In [35]:
print(max(l))3

5

In [ ]:


The * is being used to grab additional returns from the split statement.

So if you had:

>>> first, *rest = input().split()
>>> print(first)
>>> print(*rest)

and ran it and typed in "hello my name is bob" It would print out

hello
['my', 'name', 'is', 'bob']

Another example would be this:

>>> a, b, *rest = range(5)
>>> a, b, rest
(0, 1, [2,3,4])

It can also be used in any position which can lead to some interesting situations

>>> a, *middle, c = range(4)
>>> a, middle, c
(0, [1,2], 3)

In [75]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    l = round((sum(student_marks[query_name])/3),2)
    result = format(l, '.2f')
    print(result)

2
M 1 2 3
A 3 4 5
A
4.00

In [41]:
scores

[52.0, 56.0, 60.0]

In [44]:
scores

[52.0, 56.0, 60.0]

In [47]:
student_marks

{'Krishna': [67.0, 68.0, 69.0],
 'Arjun': [70.0, 98.0, 63.0],
 'Malika': [52.0, 56.0, 60.0]}

In [51]:
student_marks['Malika']

[52.0, 56.0, 60.0]

In [55]:
student_marks[query_name]

[52.0, 56.0, 60.0]

In [72]:
round((sum(student_marks[query_name])/3),2)

56.0

In [ ]:
3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika

In [82]:
def print_full_name(first, last):
    print(f'Hello {first} {last}! You just delved into python.')

In [83]:
print_full_name('jess', 'g')

Hello jess g! You just delved into python.

SQL

In [ ]:
select count(city) - count(distinct city) from station;