In [6]:
def is_leap(year):
    leap = False
    
    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year % 4 == 0:
        leap = True
    else:
        leap = False
    
    return leap

In [7]:
is_leap(1900)

False

In [8]:
is_leap(2000)

True

for integers i<n, print i^2.

sample:
    5
    
output:
    0
    1
    4
    9
    16

In [15]:
n=5

In [16]:
while n >= 0:
    print(n**2)
    n -= 1

25
16
9
4
1
0

In [ ]:
# i need to reverse order and exclude outer number

In [19]:
n = 5

In [20]:
i = 0

In [21]:
while i < n:
    print(i**2)
    i += 1

0
1
4
9
16

input: 5

output:12345

In [22]:
n=5

In [23]:
for i in range(1, n):
    print(i)

1
2
3
4

In [24]:
for i in range(1, n+1):
    print(i, end='')

12345

Working with strings

In [1]:
def split_and_join(line):
    # write your code here
    a = line.split(' ')
    b = '-'.join(a)
    return b

SQL

In [ ]:
select count(city) - count(distinct city) from station;